* {
    box-sizing           : border-box;
}

.divkonten {
    border              : 4px outset white;
    background          : #ffffff;
    box-shadow          : 10px 10px 5px grey;
    height              : 150px;
    width               : 600px;
    display             : block;
    float               : ;
    align-items         : ;
    justify-content     : ;
    margin              : auto;
}

.divkonten:hover {
    border-top          : 4px outset #aa0000;
    border-bottom       : 4px outset #aa0000;
}

.paragraf {
    height              : 100px;
    width               : 450px;
    color               : ;
    display             : block;
    float               : left;
    align-items         : ;
    justify-content     : ;
    text-align          : justify;
    clear               : ;
}


.divkonten a {
    float               : right;
    clear               : both;
}


img {
    height              : 80px;
    width               : 90px;
    display             : flex;
    float               : left;
}
